.shopItem,
.shopItemError {
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  gap: 4%;
  align-items: center;

  min-height: 50vh;

  padding: 2% 2% 2% 2%;

  box-shadow: 0px 0px 8px rgb(0, 0, 0);
  background-color: burlywood;

  margin: 2% 2% 0% 2%;
}

.shopItemError {
  height: auto;
}

.shopItem:hover {
  box-shadow: 2px 2px 24px 12px rgb(255, 255, 255);
}

.itemTitle {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}

.itemImg {
  height: 300px;
  width: 300px;
}

.priceText {
  font-size: 1.5rem;
}

.inputLabel {
  font-size: small;
  font-weight: bold;
}

.inputBox {
  width: 40px;
}

.itemText {
  padding: 4px;
}

.button {
  margin-top: 24px;
}

.btnQuantity {
  width: 40px;
  height: 24px;
  margin-left: 10px;
}
