.cartBody {
  min-width: 350px;
  padding: 0px 5px 5px 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 8px rgb(63, 63, 63);
  margin: 0 2% 0 2%;
}

.btnCheckout {
  font-weight: normal;
}

.itemList {
  display: flex;
  gap: 24px;
  align-items: center;
}

.itemImage {
  width: 100px;
  height: 100px;
}
