.nav {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  border: 1px solid rgba(0, 183, 255, 0.164);
  padding-left: 2%;
  padding-right: 2%;
  margin: 0% 2% 0% 2%;
  background-color: rgb(252, 175, 61);
  box-shadow: 0px 0px 8px rgb(63, 63, 63);
  border-radius: 4px;
}

.title {
  flex-grow: 1;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
}

.list {
  display: flex;
  gap: 14px;
  flex-grow: 0;
  /* border: 1px solid blue; */
}

li {
  list-style: none;
}
